.libs
.deps
*.o
*.lo
*.la
*~
*info
*info-?
config.log
config.status
configure
Makefile
Makefile.in
libtool
/aclocal.m4
/autom4te.cache
/build-aux/compile
/build-aux/ltmain.sh
/utils/recdel
/utils/recinf
/utils/recsel
/utils/recins
/utils/recset
/utils/recfix
/utils/csv2rec
/utils/mdb2rec
/lib/arg-nonnull.h
/lib/link-warning.h
/lib/unistd.h
/lib/alloca.h
/lib/c++defs.h
/lib/stdlib.h
/lib/string.h
/lib/sys/
/lib/time.h
/lib/warn-on-use.h
/lib/wchar.h
/lib/parse-datetime.c
/lib/charset.alias
/lib/configmake.h
/lib/fcntl.h
/lib/ref-add.sed
/lib/ref-del.sed
/lib/signal.h
/lib/spawn.h
/lib/wctype.h
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/libtool.m4
/m4/lt~obsolete.m4
/src/config.h
/src/config.h.in
/src/stamp-h1
/src/rec-sex-lex.c
/src/rec-sex-tab.c
/src/rec-sex-tab.h
/torture/runtests
/torture/tests.log
/doc/recutils.aux
/doc/recutils.cp
/doc/recutils.cps
/doc/recutils.fn
/doc/recutils.fns
/doc/recutils.ky
/doc/recutils.log
/doc/recutils.pg
/doc/recutils.toc
/doc/recutils.tp
/doc/recutils.vr
/doc/recutils.vrs/
/doc/missfont.log
/doc/stamp-vti
/doc/texinfo.log
/doc/texput.log
/doc/version.texi
/man/recdel.1
/man/recdel.1
/man/recinf.1
/man/recins.1
/man/recsel.1
/man/recset.1
/man/csv2rec.1
/man/mdb2rec.1
/man/recfix.1
/po/stamp-po
/po/POTFILES
/po/remove-potcdate.sed
