.libs
.deps
*.o
*.lo
*.la
*~
*info
*info-?
config.log
config.status
configure
Makefile
Makefile.in
libtool
/aclocal.m4
/autom4te.cache
/build-aux/compile
/build-aux/ltmain.sh
/utils/recdel
/utils/recinf
/utils/recsel
/utils/recins
/utils/recset
/utils/recfix
/lib/arg-nonnull.h
/lib/link-warning.h
/lib/unistd.h
/lib/alloca.h
/lib/c++defs.h
/lib/stdlib.h
/lib/string.h
/lib/sys/
/lib/time.h
/lib/warn-on-use.h
/lib/wchar.h
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/libtool.m4
/m4/lt~obsolete.m4
/src/config.h
/src/config.h.in
/src/stamp-h1
/torture/runtests
/torture/tests.log
/doc/recutils.aux
/doc/recutils.cp
/doc/recutils.cps
/doc/recutils.fn
/doc/recutils.fns
/doc/recutils.ky
/doc/recutils.log
/doc/recutils.pg
/doc/recutils.toc
/doc/recutils.tp
/doc/recutils.vr
/doc/recutils.vrs/