.#configure
.dirstamp
.libs
.deps
*.o
*.lo
*.la
*~
*info
*info-?
config.log
config.status
configure
Makefile
Makefile.in
libtool
/aclocal.m4
/autom4te.cache
/build-aux/.gitignore
/build-aux/compile
/build-aux/depcomp
/build-aux/mdate-sh
/build-aux/missing
/build-aux/snippet/
/build-aux/test-driver
/build-aux/texinfo.tex
/build-aux/ylwrap
/utils/recdel
/utils/recinf
/utils/recsel
/utils/recins
/utils/recset
/utils/recfix
/utils/csv2rec
/utils/mdb2rec
/utils/rec2csv
/utils/recfmt
/lib/
/m4/
/src/config.h
/src/config.h.in
/src/stamp-h1
/src/rec-sex-lex.c
/src/rec-sex-lex.h
/src/rec-sex-tab.c
/src/rec-sex-tab.h
/torture/runtests
/torture/tests.log
/doc/.gitignore
/doc/recutils.aux
/doc/recutils.cp
/doc/recutils.cps
/doc/recutils.fn
/doc/recutils.fns
/doc/recutils.ky
/doc/recutils.log
/doc/recutils.pg
/doc/recutils.toc
/doc/recutils.tp
/doc/recutils.vr
/doc/recutils.vrs/
/doc/rec-mode.aux
/doc/rec-mode.cp
/doc/rec-mode.cps
/doc/rec-mode.fn
/doc/rec-mode.ky
/doc/rec-mode.log
/doc/rec-mode.pg
/doc/rec-mode.toc
/doc/rec-mode.tp
/doc/rec-mode.vr
/doc/missfont.log
/doc/stamp-vti
/doc/texinfo.log
/doc/texput.log
/doc/version.texi
/doc/version-rec-mode.texi
/doc/stamp-1
/doc/recutils.dvi
/doc/recutils.pdf
/doc/recutils.vrs
/po/.gitignore
/po/.reference
/po/LINGUAS
/po/stamp-po
/po/POTFILES
/po/remove-potcdate.sed
/po/*.gmo
/po/*.po
/po/Makevars
config.cache
torture/utils/config.sh
/algol68/rec.c
/algol68/rec.m
/algol68/librec-a68.a
/torture/utils/*.in
/torture/utils/*.trs
/torture/utils/*.log
/torture/runtests.log
/torture/runtests.trs
/torture/test-suite.log
/GNUmakefile
/maint.mk
/doc/recutils-a4-book.pdf
/doc/recutils-a4.aux
/doc/recutils-a4.cp
/doc/recutils-a4.cps
/doc/recutils-a4.fn
/doc/recutils-a4.fns
/doc/recutils-a4.ky
/doc/recutils-a4.log
/doc/recutils-a4.pg
/doc/recutils-a4.toc
/doc/recutils-a4.tp
/doc/recutils-a4.vr
/doc/recutils-a4.vrs
